*{
    font-family:'Roboto';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main-navbar{
    height: 70px;
}

#search-container{
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-size: cover;
    height: 80vh;
}

#search-container h1{
    color: orange;
    text-align: center;
    font-size: 3em;
    margin-top: 300px;
    font-weight: 900;
}

#search-input{
    border-radius: 20px;
    width: 50%;
    margin: 0 auto;
}

#card{
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.card-title{
    font-size: 1.8em;
    font-weight: 700;
    padding: 20 0px;
    text-transform: capitalize;
}

.card-img{
    width: 100%;
}

#events-container{
    display: flex;
    gap: 20px;
}

#card-button{
    background-color: orange;
    color: white;
    padding: 10px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

#nav-item :hover{
    color: orange;
}

#create-event-title{
    text-align: center;
}

.footer{
    background-color: #000;
    bottom: 0;
    padding: 5px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.form-group{
    margin-bottom: 10px;
}

.form-group label{
    font-size: 1.2em;
    font-weight: 200;
}

#create-button{
    background-color: orange;
    color: white;
    margin-top: 10px;
}

#event-create-container{
    height: 70vh;
}

#image-show{
    width: 90%;
    height: 300px;
    border-radius: 10px;
}

#event-submit{
    background-color: orange;
    color: white;
    border: orangered;
    padding: 10px;
}

#info-container{
    line-height: 0;
    font-size: 1.2em;
    font-weight: 200;
}

#info-container p , h1{
    text-transform: capitalize;
}

#info-container ion-icon{
    font-size: 20px;
    color: orange;
}

#container{
    margin-top: 50px;
}

#dashboard-title{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

#dashboard-title:hover{
    color: orange;
}